@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Rock+Salt);

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

@media (min-width: 38em) {
  html {
    font-size: 20px;
  }
}

body {
  color: #515151;
  background-color: #fff;
}

a {
  color: #268bd2;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2rem;
}

h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}

h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  color: #303030;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
  &[title] {
    cursor: help;
    border-bottom: 1px dotted #e5e5e5;
  }
}

code, pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
  code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
  }
}

.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
  pre {
    margin-bottom: 0;
  }
}

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
  p:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  border-radius: 5px;
  max-width: 100%;
  min-height: 525px;

  @media (max-width: 30em) {
    min-height: 200px;
    max-height: 200px;
  }
}

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td, th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

tbody tr:nth-child(odd) {
  td, th {
    background-color: #f9f9f9;
  }
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: #f9f9f9;
}

.container {
  max-width: 38rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.masthead {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #505050;
  a {
    color: #505050;
  }
  small {
    font-size: 75%;
    font-weight: 400;
    color: #c0c0c0;
    letter-spacing: 0;
  }
}

.page, .post {
  margin-bottom: 4em;
}

.page-title {
  color: #303030;
}

.post-title {
  color: #303030;
  a {
    color: #303030;
  }
}

.page-title, .post-title {
  margin-top: 0;
}

.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}

.related-posts {
  padding-left: 0;
  list-style: none;
  h3 {
    margin-top: 0;
  }
  li {
    small {
      font-size: 75%;
      color: #999;
    }
    a:hover {
      color: #268bd2;
      text-decoration: none;
      small {
        color: inherit;
      }
    }
  }
}

.pagination {
  margin-left: -1rem;
  margin-right: -1rem;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  color: #ccc;
  text-align: center;
}

.pagination-item {
  display: block;
  padding: 1rem;
  border: 1px solid #eee;
  &:first-child {
    margin-bottom: -1px;
  }
}

a.pagination-item:hover {
  background-color: #f5f5f5;
}

@media (min-width: 30em) {
  .pagination {
    margin: 3rem 0;
  }
  .pagination-item {
    float: left;
    width: 50%;
    &:first-child {
      margin-bottom: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &:last-child {
      margin-left: -1px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

.hll {
  background-color: #ffffcc;
}

.c {
  color: #999;
}

/* Comment */

.err {
  color: #AA0000;
  background-color: #FFAAAA;
}

/* Error */

.k {
  color: #006699;
}

/* Keyword */

.o {
  color: #555555;
}

/* Operator */

.cm {
  color: #0099FF;
  font-style: italic;
}

/* Comment.Multiline */

.cp {
  color: #009999;
}

/* Comment.Preproc */

.c1, .cs {
  color: #999;
}

/* Comment.Single */
/* Comment.Special */

.gd {
  background-color: #FFCCCC;
  border: 1px solid #CC0000;
}

/* Generic.Deleted */

.ge {
  font-style: italic;
}

/* Generic.Emph */

.gr {
  color: #FF0000;
}

/* Generic.Error */

.gh {
  color: #003300;
}

/* Generic.Heading */

.gi {
  background-color: #CCFFCC;
  border: 1px solid #00CC00;
}

/* Generic.Inserted */

.go {
  color: #AAAAAA;
}

/* Generic.Output */

.gp {
  color: #000099;
}

/* Generic.Prompt */

.gs {}

/* Generic.Strong */

.gu {
  color: #003300;
}

/* Generic.Subheading */

.gt {
  color: #99CC66;
}

/* Generic.Traceback */

.kc, .kd, .kn, .kp, .kr {
  color: #006699;
}

/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Pseudo */
/* Keyword.Reserved */

.kt {
  color: #007788;
}

/* Keyword.Type */

.m {
  color: #FF6600;
}

/* Literal.Number */

.s {
  color: #d44950;
}

/* Literal.String */

.na {
  color: #4f9fcf;
}

/* Name.Attribute */

.nb {
  color: #336666;
}

/* Name.Builtin */

.nc {
  color: #00AA88;
}

/* Name.Class */

.no {
  color: #336600;
}

/* Name.Constant */

.nd {
  color: #9999FF;
}

/* Name.Decorator */

.ni {
  color: #999999;
}

/* Name.Entity */

.ne {
  color: #CC0000;
}

/* Name.Exception */

.nf {
  color: #CC00FF;
}

/* Name.Function */

.nl {
  color: #9999FF;
}

/* Name.Label */

.nn {
  color: #00CCFF;
}

/* Name.Namespace */

.nt {
  color: #2f6f9f;
}

/* Name.Tag */

.nv {
  color: #003333;
}

/* Name.Variable */

.ow {
  color: #000000;
}

/* Operator.Word */

.w {
  color: #bbbbbb;
}

/* Text.Whitespace */

.mf, .mh, .mi, .mo {
  color: #FF6600;
}

/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */

.sb, .sc {
  color: #CC3300;
}

/* Literal.String.Backtick */
/* Literal.String.Char */

.sd {
  color: #CC3300;
  font-style: italic;
}

/* Literal.String.Doc */

.s2, .se, .sh {
  color: #CC3300;
}

/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */

.si {
  color: #AA0000;
}

/* Literal.String.Interpol */

.sx {
  color: #CC3300;
}

/* Literal.String.Other */

.sr {
  color: #33AAAA;
}

/* Literal.String.Regex */

.s1 {
  color: #CC3300;
}

/* Literal.String.Single */

.ss {
  color: #FFCC33;
}

/* Literal.String.Symbol */

.bp {
  color: #336666;
}

/* Name.Builtin.Pseudo */

.vc, .vg, .vi {
  color: #003333;
}

/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */

.il {
  color: #FF6600;
}

/* Literal.Number.Integer.Long */

.css {
  .o {
    color: #999;
    + .nt {
      color: #999;
    }
  }
  .nt + .nt {
    color: #999;
  }
}

html {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 58em) {
  html {
    font-size: 20px;
  }
}

.sidebar {
  text-align: center;
  padding: 2rem 1rem;
  color: rgba(255, 255, 255, 0.5);
  background-color: #202020;
  a {
    color: #fff;
    transition: color .2s ease;
    &:hover, &:focus, &:hover h1, &:focus h1 {
      color: #ff7660;
      text-decoration: none;
    }
  }
}

@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
  }
}

.sidebar-about {
  h1 {
    color: #fff;
    margin: 0 0 .35em 0;
    font-family: "Rock Salt", cursive;
    font-size: 3.25rem;
    transition: color .2s ease;
    -webkit-font-smoothing: antialiased;
  }
  .lead {
    font-size: .8em;
  }
}

.sidebar-nav {
  padding-left: 0;
  list-style: none;
}

.sidebar-nav-item {
  display: block;
}

a.sidebar-nav-item {
  &:hover, &:focus {
    color: #ff7660;
  }
}

.sidebar-nav-item.active {
  font-weight: bold;
}

@media (min-width: 48em) {
  .sidebar-sticky {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
  }
}

.content {
  padding-top: 4rem;
  padding-bottom: 4rem;

  small {
    text-align: center;
  }
}

@media (min-width: 48em) {
  .content {
    max-width: 38rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}

@media (min-width: 48em) {
  .layout-reverse {
    .sidebar {
      left: auto;
      right: 0;
    }
    .content {
      margin-left: 2rem;
      margin-right: 20rem;
    }
  }
}

@media (min-width: 64em) {
  .layout-reverse .content {
    margin-left: 4rem;
    margin-right: 22rem;
  }
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
