.content {
  h1 {
    font-family: "Rock Salt", cursive;
    text-transform: capitalize;
    margin: 0 0 64px 0;
  }

  h2 em, h3 {
    text-transform: capitalize;
  }

  h2 em:after {
    content: '. ';
    color: #ff7660;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      display: flex;
      align-items: top;
    }

    p {
      flex-grow: 1;
      display: inline-block;

      &:last-child {
        padding-left: 16px;
        text-align: right;
      }
    }
  }

  input,
  textarea,
  button {
    display: block;
    outline: none;
    box-sizing: border-box;
    box-shadow: none;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
    padding: 16px;
    margin-bottom: 16px;
  }

  input,
  textarea {
    &:focus {
      border: 1px solid #444;
    }
  }

  .buttons {
    text-align: center;
  }

  button {
    color: white;
    background: #ff7660;
    border: none;
    cursor: pointer;
    transition: background .2s ease;

    &:hover {
      background: #d35b48;
    }

    &.half-button {
      display: inline-block;
      width: 30%;

      &:last-child {
        margin-left: 2%;
      }
    }
  }
}